body,a,p,li,input,button,div,textarea {
	font-size:13px;
	color:#333;
}
img {
	border:0;
}
a {
	text-decoration:none;
}
.container {
	position:absolute;
	left:50%;
	top:100px;
	margin-left:-200px;
	width:400px;
}
.comments li span{
	padding:10px 0px;
	margin:10px;
	line-height:30px;
}
.comment-reply {
	width:380px;
	overflow:hidden;
	border:1px solid #ccc;
	padding:5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin:10px 0px;
}
.comment-reply textarea {
	width:300px;
	height:30px;
	padding:10px 10px;
	float:left;
	border:0;
}
.comment-reply button {
	float:left;
	margin-left:10px;
	border:0;
	
	
	width:50px;
	height:50px;
	
	color:#fff;
	font-weight:bold;
	font-size:14px;
	
	background-color:#83dd83;
	transition:all ease-in-out 0.2s;
	-moz-transition:all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	-webkit-transition:all ease-in-out 0.2s;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display: inline-block;	
}
.comment-reply button:hover {
	background-color:#e97964;
}
.square_btn {
	border:0;
	margin:0;
	background-color:#83dd83;
	transition:all ease-in-out 0.2s;
	-moz-transition:all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	-webkit-transition:all ease-in-out 0.2s;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display: inline-block;
	
	padding:0px 20px;
	line-height: 35px;
	height: 36px;
	color:#fff;
	font-weight: bold;
	font-size:14px;
}
.square_btn:hover {
	background-color:#e97964;
}
