body,a,p,li,input,button,div,textarea {
	font-size:13px;
	color:#333;
}
img {
	border:0;
}
a {
	text-decoration:none;
}
body {
	background: #EAF2F3;
}
.cloud {
	position:absolute;
	z-index:1;
	left:50%;
	top:100px;
}
.cloud.c1 {
	margin-top:230px;
	margin-left:-500px;
}
.cloud.c2 {
	margin-top:-70px;
	left:inherit;
	right:10%;
}
.container {
	border:1px solid #ccc;
	padding:10px;
	position:relative;
	left:0;
	top:0;
	margin:130px auto 0px;
	width:600px;
	background-color:#fff;
	z-index:2;
}
.container .back {
	height:40px;
	line-height:40px;
	text-align:center;
	
	margin:3px 0px;
	
}

.container .title {
	width: 100%;
	height: 30px;
	border: 1px solid #ccc;
	text-indent: 10px;
}

.container textarea {
	width: 100%;
	height: 80px;
	border: 1px solid #ccc;
	padding: 0;
	text-indent: 10px;
	margin: 5px 0px;
	padding: 5px 0px;
}
.bottom-action {
	margin-top:5px;
	overflow:hidden;
}

.picture {
	float:left;
}
.picture img {
	vertical-align:middle;
	float:left;
	margin-right:5px;
	width:40px;
	height:40px;
}
.picture #filename {
	float:left;
	max-width:100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height:40px;
	line-height:40px;
}
.getpicture {
	border:0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	transition:all ease-in-out 0.2s;
	-moz-transition:all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	-webkit-transition:all ease-in-out 0.2s;
	
	
	content:url("/img/photo.png");
	background-color:#83dd83;
	
	width:40px;
	height:40px;
}
.getpicture:hover {
	background-color:#e97964;
}
#file {
	display:none;
}

.submit {
	float:right;
}